* {
	margin: 0;
    padding: 0;
}

html {
	background: #ecf6f8;
}

body {
	min-height: 100vh;
	display: flex;
    flex-direction: column;
}

h3 {
	font-weight: normal;
}

footer {
	font-style: italic;
	background-color: #151515;
    color: #f8f8f8;
    text-align: center;
    padding: 1.25rem;
    width: 100%;
    bottom: 0px;
    margin-top: auto;
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    overflow: hidden;
    background-color: #10233b;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 1rem 0rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

nav ul li {
	margin: 0rem 0.15rem;
}

nav ul li a {
    font-weight: bold;
    color: #fef3ff;
    padding: 0.75rem 1rem;
    transition: color ease 0.1s;
    text-decoration: none;
}

nav ul li a:hover {
    color: #589edf;
}

nav ul .logo {
	font-size:2.5rem;
    font-weight:bold;
    text-align:center;
    border-radius:0.5rem;
    font-weight:bold;
    text-decoration:none;
    transition:color ease 0.2s;
    padding:0rem 1rem;
    color:#fafafa;
}

nav ul .logo a {
	transition:color ease 0.1s;
}

nav ul .logo a:hover {
	color: #fef3ff;
}

nav ul .navbar {
	font-size: 1.2rem;
}

img, video {
	border-radius: 0.75rem;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.gamesList {
	list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1%;
    margin: 1rem;
}

.gamesList .game {
	max-width: 30%;
    min-width: 250px;
    height: 25%;
    margin: 1rem;
    text-align: center;
}

.gamesList p {
	font-size: 1rem;
    font-style: italic;
    margin: 1rem 0rem;
}

.gamesList .game .gameImage {
	position: relative;
	z-index: 2;
}

.gamesList .game .gameDesc {
	position: relative;
    padding: 0.5rem;
    top: -2rem;
	background-color: #9b9b9b;
    border-radius: 0.75rem;
    z-index: 1;
}

.gamesList .game .gameDesc figcaption {
	line-height: 1.75rem;
    padding: 0px 0px;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    font-size: 1.75rem;
}

.gameInfo {
    align-items: center;
    justify-content: center;
}

.gameInfo .gameTitle {
	font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    text-align: center;
    text-transform: uppercase;
}

.gameInfo .gameSummary {
	margin: auto;
	width: 50%;
	text-align: center;
    margin-bottom: 1rem;
}

.gameInfo .gameSummary h2 {
	font-weight: normal;
	font-size: 1.15rem;
    font-style: italic;
}

.gameInfo .gameGenres ul {
	display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 0rem 0rem;
    padding: 0rem;
}

.gameInfo .gameGenres ul li .genre {
	background-color: #e48383;
	border-radius: 0.15rem;
    font-weight: bold;
    color: #000000;
    padding: 0.25rem 1rem;
    margin: 0rem 0.15rem;
    transition: background-color ease 0.1s;
    text-decoration: none;
}

.gameInfo .gameGenres ul li .genre:hover {
	background-color: #f3d0eb;
}

.gameInfo .similarGames ul {
	display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 0rem 0rem;
    padding: 0rem;
}

.gameInfo .similarGames ul li {
	font-style: italic;
}

.gameInfo .similarGames ul li p {
	margin: 1.5rem 1rem;
}

.gameInfo .similarGames ul li .similarGame {
	background-color: #e5c457;
    color: #000000;
	border-radius: 0.15rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color ease 0.1s;
    padding: 0.5rem 0.75rem;
    margin: 0rem 0.15rem;
}

.gameInfo .similarGames ul li .similarGame:hover {
	background-color: #eac096;
}

.gameRow {
	display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
	gap: 2%;
}	

.gameRow .gameMedia {
	background-color: #000000;
    min-width: 300px;
    max-width: 40%;
    margin: 0.5rem 0rem;
    text-align: center;
}

.gameRow .gameMedia figcaption {
	font-size: 1.25rem;
    text-align: center;
    font-style: italic;
    margin-top: 0.5rem;
}

.gameRow .gameBlock {
	min-width: 300px;
    max-width: 45%;
    line-height: 1.6rem;
    margin: 0 0.5rem;
}

.gameRow .gameBlock img {
	max-width: 5%;
	max-height: 5%;
}