nav {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    overflow: hidden;
    background-color: #10233b;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 1rem 0rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

nav ul li {
	margin: 0rem 0.15rem;
}

nav ul li a {
    font-weight: bold;
    color: #fef3ff;
    padding: 0.75rem 1rem;
    transition: color ease 0.1s;
    text-decoration: none;
}

nav ul li a:hover {
    color: #589edf;
}

nav ul .logo {
	font-size:2.5rem;
    font-weight:bold;
    text-align:center;
    border-radius:0.5rem;
    font-weight:bold;
    text-decoration:none;
    transition:color ease 0.2s;
    padding:0rem 1rem;
    color:#fafafa;
}

nav ul .logo a {
	transition:color ease 0.1s;
}

nav ul .logo a:hover {
	color: #fef3ff;
}

nav ul .navbar {
	font-size: 1.2rem;
}

img, video {
	border-radius: 0.75rem;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.gamesList {
	list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1%;
    margin: 1rem;
}

.gamesList .game {
	max-width: 30%;
    min-width: 250px;
    height: 25%;
    margin: 1rem;
    text-align: center;
}

.gamesList p {
	font-size: 1rem;
    font-style: italic;
}

.gamesList .game .gameImage {
	position: relative;
	z-index: 2;
}

.gamesList .game .gameDesc {
	position: relative;
    padding: 0.5rem;
    top: -2rem;
	background-color: #9b9b9b;
    border-radius: 0.75rem;
    z-index: 1;
}

.gamesList .game .gameDesc figcaption {
	line-height: 1.75rem;
    padding: 0px 0px;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    font-size: 1.75rem;
}